{% import "tools.twig" as tools %}
{% import "formBuilderMacros.twig" as formBuilder %}

<section class="section-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="." id="frm-dictionary" name="frmDictionary" method="post" data-confirmtxt="{{ _('TXT_CONFIRM_LABEL_REVERT') }}">
                    <div class="row">
                        <div class="col-md-8">

                            <div class="card">
                                <div class="card-body p-2">

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="btn-group">
                                                <div class="dropdown me-1" data-bs-toggle="tooltip" title="{{ _('LBL_TRANSLATE_FROM') }}">
                                                    <button id="btn-langfrom" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" type="button" aria-expanded="false">
                                                        <i class="flag flag-{{ post.langfrom }}"></i> {{ languages[post.langfrom] }}
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {% for key, value in languages %}
                                                            <a class="dropdown-item btn-select" data-value="{{ key }}"><i class="flag flag-{{ key }}"></i> {{ value }}</a>
                                                        {% endfor %}
                                                    </div>
                                                    <input type="hidden" id="langfrom" name="langfrom" value="{{ post.langfrom }}">
                                                </div>

                                                {#
                                                <div class="dropdown me-1" data-bs-toggle="tooltip" title="{{ _('LBL_HOST') }}">
                                                    <button id="btn-host" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                        {{ _( lists.hosts[ post.clientId ] ) }}
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {% for key, value in lists.hosts %}
                                                            <a class="dropdown-item btn-select" data-value="{{ key }}">{{ _(value) }}</a>
                                                        {% endfor %}
                                                    </div>
                                                    <input type="hidden" id="clientId" name="clientId" value="{{ post.clientId }}">
                                                </div>
                                                #}

                                                <div class="dropdown me-1" data-bs-toggle="tooltip" title="{{ _('LBL_SORTBY') }}">
                                                    <button id="btn-sort" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                        {{ _( lists.sort[ post.sort ] ) }}
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {% for key, value in lists.sort %}
                                                            <a class="dropdown-item btn-select" data-value="{{ key }}">{{ _(value) }}</a>
                                                        {% endfor %}
                                                    </div>
                                                    <input type="hidden" id="sort" name="sort" value="{{ post.sort }}">
                                                </div>

                                                <div class="dropdown" data-bs-toggle="tooltip" title="{{ _('LBL_FILTERBY') }}">
                                                    <button id="btn-filter" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                        {{ _( lists.filter[ post.filter ] ) }}
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {% for key, value in lists.filter %}
                                                            <a class="dropdown-item btn-select" data-value="{{ key }}">{{ _(value) }}</a>
                                                        {% endfor %}
                                                    </div>
                                                    <input type="hidden" id="filter" name="filter" value="{{ post.filter }}">
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="dropdown float-end" data-bs-toggle="tooltip" title="{{ _('LBL_TRANSLATE_TO') }}">
                                                <button id="btn-langto" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="flag flag-{{ post.langto }}"></i> {{ languages[post.langto] }}
                                                    <i class="mdi mdi-chevron-down"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    {% for key, value in languages %}
                                                        <a class="dropdown-item btn-select" data-value="{{ key }}"><i class="flag flag-{{ key }}"></i> {{ value }}</a>
                                                    {% endfor %}
                                                </div>
                                                <input type="hidden" id="langto" name="langto" value="{{ post.langto }}">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div id="labels-list">
                                    {% for key, value in labels.items %}
                                        {{ tools.labelEditor(key, value, post) }}
                                    {% endfor %}
                                    </div>
                                    {{ tools.infiniteScroll('scroll', '#labels-list', post.page, labels.stats.totalpages, '/ajax/Dictionary/load-page/?page=', '') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <input type="hidden" id="context" name="context" value="admin">
                            {#
                            <div class="btn-group">
                                <button id="btn-context" class="btn btn-light dropdown-toggle btn-block" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ _('LBL_CONTEXT') }}: {{ _( lists.contexts[ post.context ] ) }}
                                </button>
                                <div class="dropdown-menu">
                                    {% for key, value in lists.contexts %}
                                        <a class="dropdown-item btn-select" data-value="{{ key }}">{{ _(value) }}</a>
                                    {% endfor %}
                                </div>
                                <input type="hidden" id="context" name="context" value="{{ post.context }}">
                            </div>
                            #}

                            <div class="card">
                                <div class="card-body">
                                    <h5>{{ _('LBL_SEARCHBY') }}</h5>
                                    <div class="mb-2">
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <i class="fas fa-search"></i>
                                            </span>
                                            <input class="form-control inp-search hasclear" type="text" name="label" placeholder="{{ _('LBL_LABEL_EXPRESSION') }}" id="search-label" value="{{ post.label }}" >
                                            <button class="btn btn-light" id="btn-search" type="button">{{ _('BTN_OK') }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-gray-100">
                                    <div class="row">
                                        <div class="col-12">
                                            <label id="label-info-orig">{{ _('LBL_ORIGINAL_LABELS', labels.stats.orig.translated, labels.stats.total) }}</label>
                                            {{ formBuilder.progressBar(elements.progressbar) }}
                                        </div>
                                        {% if constant('SERVER_ID') == 'development' %}
                                        <div class="col-12 mt-3">
                                            <a href="/ajax/Dictionary/load/" class="btn btn-block btn-primary" data-bs-toggle="modal" data-bs-target="#ajax-modal">
                                                <i class="fas fa-sync-alt"></i>
                                                Sync labels...
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</section>