<div class="logo-box">
    {% if settings.darkSideBar %}
        <a href="/" class="logo text-center">
            <span class="logo-sm">
                {% if settings.logo.darkSmall %}
                    <img src="{{ uploads }}logo-dark-small.svg" alt="{{ settings.siteName }}" height="25">
                {% else %}
                    <span class="logo-lg-text-dark">{{ settings.siteName|first }}</span>
                {% endif %}
            </span>
            <span class="logo-lg">
                {% if settings.logo.dark %}
                    <img src="{{ uploads }}logo-dark.svg" alt="{{ settings.siteName }}" height="50">
                {% else %}
                    <span class="logo-lg-text-dark">{{ settings.siteName }}</span>
                {% endif %}
            </span>
        </a>
    {% else %}
        <a href="/" class="logo text-center">
            <span class="logo-sm">
            {% if settings.logo.lightSmall %}
                <img src="{{ uploads }}logo-light-small.svg" alt="{{ settings.siteName }}" height="25">
            {% else %}
                <span class="logo-lg-text-light">{{ settings.siteName|first }}</span>
            {% endif %}
            </span>
            <span class="logo-lg">
            {% if settings.logo.light %}
                <img src="{{ uploads }}logo-light.svg" alt="{{ settings.siteName }}" height="50">
            {% else %}
                <span class="logo-lg-text-light">{{ settings.siteName }}</span>
            {% endif %}
            </span>
        </a>
    {% endif %}
</div>