<h4 class="mt-0">{{ _('LBL_CHANGE_PASSWORD') }}</h4>
{% if not success %}
    {% if forms.NewPasswordForm.getErrors|length > 0 %}
        <div class="alert alert-danger bg-danger text-white border-0">
            {% for error in forms.NewPasswordForm.getErrors %}
                <div>{{ _(error.message) }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <form action="/set-new-password/" method="post" id="request-new-password" autocomplete="off">
        <input id="token" type="hidden" name="NewPasswordForm[token]" value="{{ forms.NewPasswordForm.values.token }}">

        <div class="mb-2{% if forms.NewPasswordForm.getErrors %} has-error{% endif %}">
            <label for="password" class="form-label">{{ _('LBL_NEW_PASSWORD') }}</label>
            <input type="password" id="password1" class="form-control" name="NewPasswordForm[password]" value="{{ forms.NewPasswordForm.values.password }}" placeholder="">
        </div>

        <div class="mb-2{% if forms.NewPasswordForm.getErrors %} has-error{% endif %}">
            <label for="password" class="form-label">{{ _('LBL_CONFIRM_PASSWORD') }}</label>
            <input type="password" id="password2" class="form-control" name="NewPasswordForm[confirm_password]" value="{{ forms.NewPasswordForm.values.confirm_password }}" placeholder="">
        </div>

        <div class="d-grid text-center mt-3">
            <button class="btn btn-primary waves-effect waves-light" type="submit" name="NewPasswordForm[setPwd]">{{ _('BTN_SET_NEWPWD') }}</button>
        </div>
    </form>
{% else %}
    <div class="alert alert-success bg-success text-white border-0">
        <i class="fas fa-info-circle me-1"></i>
        {{ _('LBL_PASSWORD_CHANGED_SUCCESSFULLY')|raw }}
    </div>
{% endif %}

<div class="nav nav-tabs text-end border-0 mt-2">
    <a href="/" class="small">
        {{ _('LBL_BACK_TO_LOGIN') }}
    </a>
</div>

<footer class="footer footer-alt mt-4">
    {% include 'copyright.twig' %}
</footer>