<a data-bs-toggle="modal" data-bs-target="{{ table.getModalId }}" data-size="{{ table.modalSize }}" href="/ajax/forms/MaintenanceIntervalForm/?id=0&fkeys={{ row.mc_id }}&table=MaintenanceIntervalTable-{{ row.mc_id }}" class="btn btn-xs btn-outline-warning waves-effect waves-light me-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <i class="far fa-plus" title="" data-bs-toggle="tooltip" data-bs-original-title="{{ _('LBL_ADD_MAINTENANCE_INTERVAL') }}" aria-label="{{ _('LBL_ADD_MAINTENANCE_INTERVAL') }}"></i>
</a>