{% macro infiniteScroll(id, container, current, pagenum, url, callback) %}
    <div id="{{ id }}" class="infinite_scroll text-center{% if current == pagenum %} hidden{% endif %}" data-container="{{ container }}" data-current="{{ current }}" data-pagenum="{{ pagenum }}"{% if url != '' %} data-url="{{ url }}"{% endif %}{% if callback != '' %} data-callback="{{ callback }}"{% endif %}>
        <i class="fas fa-circle-notch fa-spin text-muted"></i>
    </div>
{% endmacro %}

{% macro labelEditor(key, value, post) %}
    <div class="card mb-3" data-key="{{ key }}">
        <div class="card-header border-bottom bg-gray-200">
            <span class="font-weight-bold float-start">{{ key }}</span>
            {% if value[ post.langfrom ].original.new == 1 %}<span class="badge bg-warning float-end">{{ _('LBL_NEW') }}</span>{% endif %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="dict-original">
                        {% if value[ post.langfrom ].custom.value %}
                            {{ value[ post.langfrom ].custom.value|nl2br|raw }}
                        {% else %}
                            {{ value[ post.langfrom ].original.value|nl2br|raw }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 border-start">
                    <textarea class="form-control dict-editor" name="label[{{ key }}]" placeholder="{{ value[ post.langto ].original.value }}" id="label-value-{{ key }}">{{ value[ post.langto ].custom.value|raw }}</textarea>
                    <div class="d-none lang-unchanged">
                        {{ value[ post.langto ].custom.value|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer border-top py-2">
            <div class="row">
                <div class="col-md-6 float-start">
                    <span class="small text-muted">{{ _('LBL_MODIFIED') }}:
                        <span class="dict-date">
                            {% if value[ post.langfrom ].custom.value %}
                                {{ _date(value[ post.langto ].custom.date, 5) }}
                            {% else %}
                                {{ _date(value[ post.langto ].original.date, 5) }}
                            {% endif %}
                        </span>
                    </span>
                </div>
                <div class="col-md-6 float-end">
                    <div class="float-end ms-3">
                        <button type="button" class="dict-btn-delete btn btn-danger btn-sm" title="{{ _('BTN_DELETE') }}" data-bs-toggle="tooltip"><i class="fas fa-fw fa-trash-alt"></i></button>
                    </div>
                    <div class="float-end d-none dict-tools">
                        <button type="button" class="dict-btn-save btn btn-primary btn-sm" title="{{ _('LBL_ACCEPT') }}" data-bs-toggle="tooltip"><i class="fas fa-fw fa-check"></i></button>
                        <button type="button" class="dict-btn-cancel btn btn-warning btn-sm" title="{{ _('LBL_REVERT') }}" data-bs-toggle="tooltip"><i class="fas fa-fw fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro pager(data) %}
    {% if data.totalpages > 1 %}

        {% set total_pages = data.totalpages %}
        {% set pager_buttons = 8 %}

        <ul class="pagination justify-content-center">
            <li class="page-item{% if data.page == 1 %} active{% endif %}"><a href="{{ data.dir }}?page=1{{ data.urlparams }}" class="page-link" data-page="1">1</a></li>
            {% if total_pages > 2 %}

                {% set ellipsis_left = 0 %}
                {% set ellipsis_right = 0 %}

                {% if total_pages > pager_buttons %}

                    {% if data.page >= pager_buttons %}
                        {% if total_pages > pager_buttons + 1 %}
                            {% set ellipsis_left = 1 %}
                        {% endif %}
                        {% set ellipsis_right = 1 %}

                        {% set p_start = data.page - 2 %}
                        {% set p_end = data.page + 2 %}

                        {% if data.page > total_pages - (pager_buttons - 1) %}
                            {% set ellipsis_right = 0 %}
                            {% set p_start = total_pages - (pager_buttons - 1) %}
                            {% set p_end = total_pages - 1 %}
                        {% endif %}

                    {% else %}
                        {% set p_start = 2 %}

                        {% if total_pages > pager_buttons %}
                            {% set p_end = pager_buttons %}
                            {% set ellipsis_right = 1 %}
                        {% else %}
                            {% set p_end = total_pages - 1 %}
                        {% endif %}

                        {% if total_pages > pager_buttons + 1 %}
                            {% set ellipsis_right = 1 %}
                        {% endif %}

                    {% endif %}

                {% else %}
                    {% set p_start = 2 %}
                    {% set p_end = total_pages - 1 %}
                {% endif %}

                {% if ellipsis_left == 1 %}
                    <li class="page-item"><a class="page-link">...</a></li>
                {% endif %}

                {% for page in p_start..p_end %}
                    <li class="page-item{% if page == data.page %} active{% endif %}"><a href="{{ data.dir }}?page={{ page }}{{ data.urlparams }}" class="page-link" data-page="{{ page }}">{{ page }}</a></li>
                {% endfor %}

                {% if ellipsis_right == 1 %}
                    <li class="page-item"><a class="page-link">...</a></li>
                {% endif %}

            {% endif %}

            <li class="page-item{% if total_pages == data.page %} active{% endif %}"><a href="{{ data.dir }}?page={{ total_pages }}{{ data.urlparams }}" class="page-link" data-page="{{ total_pages }}">{{ total_pages }}</a></li>

            <li class="page-item"><a href="{{ data.dir }}?page={{ data.page + 1 }}{{ data.urlparams }}" class="page-link" data-page="{{ data.page + 1 }}"><i class="fas fa-angle-right"></i></a></li>

        </ul>

    {% endif %}
{% endmacro %}

{% macro percentWidget(id, title, total, value, unit, isPrice, bgColor) %}
    {% set cutout = 75 %}
    {% set size = 120 %}
    {% if not total %}
        {% set percent = 0 %}
    {% else %}
        {% set percent = (value / total) * 100 %}
    {% endif %}
    {% set percent = percent|round %}

    <div class="card h-100 d-flex align-items-center p-3">
        <div class="text-center position-relative ml-1">
            <canvas id="{{ id }}-chart" class="chart-percent" data-chart-type="doughnut" data-dataset="[{{ percent }},{{ (100 - percent) }}]" data-label="" data-background-colors='[{% if bgColor %}"{{ bgColor }}"{% else %}"#6775b3"{% endif %},"#e1e3f0"]' data-cutout="{{ cutout }}" style="height: {{ size }}px; width: {{ size }}px; max-height: {{ size }}px; max-width: {{ size }}px; display: block;" width="{{ size }}" height="{{ size }}"></canvas>
            <span class="position-center position-absolute">{{ percent }}%</span>
        </div>
        <div class="pt-2">
            <div class="text-600 text-center">{{ _(title) }}</div>
            {% if isPrice %}
                <div class="text-center">{{ _price(total, unit) }} / {{ _price(value, unit)  }}</div>
            {% else %}
            <div class="text-center">{{ total }} / {{ value  }} {{ _(unit) }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro fileDownload(docId, id, hash, preview = false, documentType = '') %}
    <div class="small">
        {% if preview %}
        <a href="/ajax/preview/?docid={{ docId }}&id={{ id }}&src={{ hash }}&type={{ documentType }}" class="me-1" data-bs-toggle="modal" data-bs-target="#preview-modal" data-size="xl">
            <i class="fa-regular fa-eye"></i>
            {{ _('LBL_PREVIEW') }}
        </a>
        {% endif %}
        <a href="/download/?docid={{ docId }}&id={{ id }}&src={{ hash }}&type={{ documentType }}" download="/download/?docid={{ type }}&id={{ id }}&src={{ hash }}&type={{ documentType }}">
            <i class="fa-solid fa-file-arrow-down"></i>
            {{ _('LBL_DOWNLOAD') }}
        </a>
    </div>
{% endmacro %}
