{% import "formBuilderMacros.twig" as self %}
<div id="{{ element.getId }}-formgroup" class="form-group{{ element.getGroupClasses }}{% if element.hasError %} has-error{% endif %}">
    {{ self.label(element) }}
    <input id="{{ element.getId }}" name="{{ formName }}[{{ element.getName }}]" type="text" value="{{ value }}"{% if element.getClass %} class="{{ element.getClass }}"{% endif %}{% if element.isDisabled %} disabled="disabled"{% endif %}{{ self.attributes(element.getAttributes) }}>
</div>