{% import "formBuilderMacros.twig" as self %}
<div id="{{ element.getId }}-formgroup" class="{{ element.getGroupClasses }}{% if element.hasError %} has-error{% endif %}">
    <div class="form-check form-switch{% if element.getColor %} custom-checkbox-{{ element.getColor }}{% endif %}">
        <input id="{{ element.getId }}" name="{{ formName }}[{{ element.getName }}]" type="checkbox" value="{{ value }}"{% if element.isDisabled %} disabled="disabled"{% endif %}{% if element.getValueOn == value %} checked="checked"{% endif %} class="form-check-input{{ element.getClass }}"{{ self.attributes(element.getAttributes) }} />
        <label for="{{ element.getId }}" class="form-check-label">{% if element.getLabel %}{{ _(element.getLabel) }}{% endif %}</label>
    </div>
</div>