<nav class="table-{{ table.getName }}-pager d-flex justify-content-end ms-auto mt-2">
{% set total_pages = table.getPager.totalPages %}
{% set pager_buttons = 7 %}

{% if total_pages > 1 %}
    <ul class="pagination mb-0" data-table="{{ table.getName }}" data-fkeys="{{ table.getForeignKeyValues|join(',') }}">
        <li class="page-item{% if table.getPager.page == 1 %} disabled{% endif %}">
            <a href="javascript:void(0);" data-page="prev" class="page-link btn-table-pager">
                <i class="fa fa-caret-left"></i>
            </a>
        </li>
        <li class="page-item{% if table.getPager.page == 1 %} active{% endif %}">
            <a href="javascript:void(0);" data-page="1" class="page-link btn-table-pager">1</a>
        </li>

	{% if total_pages > 2 %}

		{% set ellipsis_left = 0 %}
		{% set ellipsis_right = 0 %}

		{% if total_pages > pager_buttons %}

			{% if table.getPager.page >= pager_buttons %}
				{% if total_pages > pager_buttons + 1 %}
					{% set ellipsis_left = 1 %}
				{% endif %}
				{% set ellipsis_right = 1 %}

				{% set p_start = table.getPager.page - 2 %}
				{% set p_end = table.getPager.page + 2 %}

				{% if table.getPager.page > total_pages - (pager_buttons - 1) %}
					{% set ellipsis_right = 0 %}
					{% set p_start = total_pages - (pager_buttons - 1) %}
					{% set p_end = total_pages - 1 %}
				{% endif %}

			{% else %}
				{% set p_start = 2 %}

				{% if total_pages > pager_buttons %}
					{% set p_end = pager_buttons %}
				{% else %}
					{% set p_end = total_pages - 1 %}
				{% endif %}

				{% if total_pages > pager_buttons + 1 %}
					{% set ellipsis_right = 1 %}
				{% endif %}

			{% endif %}

		{% else %}
			{% set p_start = 2 %}
			{% set p_end = total_pages - 1 %}
		{% endif %}

		{% if ellipsis_left == 1 %}
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
		{% endif %}

		{% for i in p_start..p_end %}
            <li class="page-item{% if table.getPager.page == i %} active{% endif %}">
                <a href="javascript:void(0);" data-page="{{ i }}" class="page-link btn-table-pager">{{ i }}</a>
            </li>
		{% endfor %}

		{% if ellipsis_right == 1 %}
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
		{% endif %}

	{% endif %}
        <li class="page-item{% if table.getPager.page == total_pages %} active{% endif %}">
            <a href="javascript:void(0);" data-page="{{ total_pages }}" class="page-link btn-table-pager">{{ total_pages }}</a>
        </li>
        <li class="page-item{% if table.getPager.page == total_pages %} disabled{% endif %}">
            <a href="javascript:void(0);" data-page="next" class="page-link btn-table-pager{% if table.getPager.page == total_pages %} disabled{% endif %}">
                <i class="fa fa-caret-right"></i>
            </a>
        </li>
    </ul>
{% endif %}
</nav>
